@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#maincontainer {
  position: relative;
}

#card {
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  width: 800px;
  height: 400px;
}

#front {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

#back {
  @extend #front;
  transform: rotateY(180deg);
}
